[submodule "open-dis-cpp"]
	path = open-dis-cpp
	url = https://github.com/mcgredonps/open-dis-cpp.git
[submodule "open-dis-java"]
	path = open-dis-java
	url = https://github.com/mcgredonps/open-dis-java.git
[submodule "open-dis-objective-c"]
	path = open-dis-objective-c
	url = https://github.com/mcgredonps/open-dis-objective-c.git
[submodule "open-dis-csharp"]
	path = open-dis-csharp
	url = https://github.com/mcgredonps/open-dis-csharp.git
[submodule "open-dis-javascript"]
	path = open-dis-javascript
	url = https://github.com/mcgredonps/open-dis-javascript.git
[submodule "open-dis-python"]
	path = open-dis-python
	url = https://github.com/mcgredonps/open-dis-python.git
